GATSBY_DONATE_API_URL='http://membership.lvh.me:5000/donate'
GATSBY_MEMBERSHIP_API_URL='http://membership.lvh.me:5000/subscription'
GATSBY_STRIPE_PUBLIC_TOKEN=''
HOST_URL=http://lvh.me:8000
COMMUNITY_URL=http://lvh.me:3000