@tailwind base;

@font-face {
  font-family: 'More Gothic';
  src: url(../fonts/moregothic-bold.woff) format('woff');
}

@tailwind components;
@tailwind utilities;

* {
  font-family: 'Libre Franklin', sans-serif;
  color: #1c1c1c;
}

@screen sm {
  p {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}

.simple-block-content {
  a {
    @apply text-primary;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

summary::-webkit-details-marker {
  display: none;
}
