.page-debt-abolition {
  margin: 6rem 1rem 2rem;
}

@media (min-width: 720px) {
  .page-debt-abolition {
    margin: 6rem 3rem 3rem;
	}
}

.page-debt-abolition .entry-title, .page-debt-abolition h2 {
  line-height: 1.15;
  font-weight: 900;
  margin-bottom: 3rem;
}

.page-debt-abolition .entry-title {
  font-size: 4.236rem;
}

.page-debt-abolition h2 {
  font-size: 2.618rem;
}
.page-debt-abolition .lede {
	font-size: 1.618rem;
	font-weight: 300;
	line-height: 1.25;
  margin-bottom: 3rem;
}
.page-debt-abolition .impactful-callout {
  background-color: #ff4630;
  padding: 0.5rem 0.5rem 1rem;
  margin-bottom: 3rem;
}
@media (min-width: 480px) and (max-width: 720px) {
  .page-debt-abolition .impactful-callout {
    padding: 0.75rem 1.25rem;
  }
}
@media (min-width: 720px) {
  .page-debt-abolition .impactful-callout {
    padding: 1.25rem 2.25rem;
  }
}
.page-debt-abolition .impactful-callout h2,
.page-debt-abolition .impactful-callout h3,
.page-debt-abolition .impactful-callout h3 p {
  font-style: italic;
  line-height: 1.15;
  margin: 0;
}
.page-debt-abolition .impactful-callout h3 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
}
@media (min-width: 480px) {
  .page-debt-abolition .impactful-callout h3 {
    font-size: 1.618rem;
  }
}
.page-debt-abolition .impactful-callout .has-inline-color,
.page-debt-abolition .impactful-callout h2 {
  font-weight: 900;
  font-size: 1.618rem;
}
@media (min-width: 480px) {
  .page-debt-abolition .impactful-callout .has-inline-color,
  .page-debt-abolition .impactful-callout h2 {
    font-size: 2.618rem;
  }
}
.page-debt-abolition .impactful-callout h2 {
  color: #ffed9c;
}
.page-debt-abolition .is-style-inline-bullet-list {
  margin-bottom: 3rem;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1080px) {
  .page-debt-abolition .is-style-inline-bullet-list {
    flex-direction: row;
  }
}
.page-debt-abolition .is-style-inline-bullet-list li {
  margin-bottom: 1.5rem;
  display: flex;
  grid-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
@media (min-width: 1080px) {
  .page-debt-abolition .is-style-inline-bullet-list li {
    width: 33.33%;
    margin-right: 1.75rem;
  }
}
.page-debt-abolition .is-style-inline-bullet-list li:before {
  content: '';
  background: 50% / contain no-repeat
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMjYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iIzIwQTc4QyIgZD0iTTEyLjYzNiAwdjI2SDBWMHoiLz48L3N2Zz4=);
  width: 2.4rem;
  height: 1.65rem;
}
.page-debt-abolition .purchase-agreement {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: #000;
  background-color: #fff4c3;
  padding: 1.125rem;
  margin: 0.75rem 0;
}
@media (min-width: 720px) {
  .page-debt-abolition .purchase-agreement {
    width: 290px;
  }
}
.page-debt-abolition .purchase-agreement__date {
  font-size: 1.618rem;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.page-debt-abolition .purchase-agreement__title {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
}
.page-debt-abolition .purchase-agreement__summary {
  padding: 0;
}
.page-debt-abolition .purchase-agreement__summary p {
  margin: 0;
}
.page-debt-abolition .purchase-agreement__amount {
  font-weight: 900;
  line-height: 1.2;
  color: #ff4630;
  width: 100%;
}
.page-debt-abolition .purchase-agreement__amount.entry-value {
  font-size: 1.618rem;
  margin-left: 0.25rem;
}
.page-debt-abolition .purchase-agreement__amount.entry-label {
  margin-bottom: 0.5rem;
}
.page-debt-abolition .purchase-agreement a {
  color: #146656;
}
.page-debt-abolition .purchase-agreement dl {
  margin-top: 0.5rem;
}
.page-debt-abolition .purchase-agreement dt {
  display: inline-block;
  clear: left;
  margin-right: 0.125rem;
}
.page-debt-abolition .purchase-agreement dd {
  display: inline-block;
  margin-left: 0;
  font-weight: 700;
}
.page-debt-abolition .purchase-agreement dd:after {
  content: '';
  display: table;
  clear: left;
  width: 100%;
}
@media (min-width: 720px) {
  .page-debt-abolition .purchase-agreement dl {
    display: flex;
    flex-wrap: wrap;
  }
}
.page-debt-abolition .faq-list {
  margin-bottom: 3rem;
}
.page-debt-abolition .wp-block-site-functionality-faq {
  border-radius: 0.325rem;
  white-space: normal;
  background-color: #20a78c;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.7);
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  padding: 2rem 2rem 0;
  margin-bottom: 1rem;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 1080px) {
  .page-debt-abolition .wp-block-site-functionality-faq {
    padding: 1.5rem 2.375rem 0;
    /* max-width: 1080px; */
  }
}
.page-debt-abolition .wp-block-site-functionality-faq .question {
  position: relative;
}
.page-debt-abolition .wp-block-site-functionality-faq .question h3 {
  max-width: 87%;
  font-size: 1.618rem;
  margin-top: 2rem;
}
@media (min-width: 720px) {
  .page-debt-abolition .wp-block-site-functionality-faq .question h3 {
    font-size: 1.618rem;
  }
}
.page-debt-abolition .wp-block-site-functionality-faq .question h3 a {
  text-decoration: none;
}
.page-debt-abolition .wp-block-site-functionality-faq .question .chevron {
  position: absolute;
  width: 3rem;
  right: -2rem;
  top: 0;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: translateX(-25%);
}
@media (min-width: 1080px) {
  .page-debt-abolition .wp-block-site-functionality-faq .question .chevron {
    right: 0;
  }
}
.page-debt-abolition .wp-block-site-functionality-faq .answer {
  padding-top: 1rem;
  max-height: 0;
  height: 0;
  overflow: hidden;
  transition-property: max-height, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  padding-bottom: 3.375rem;
}
@media (min-width: 1080px) {
  .page-debt-abolition .wp-block-site-functionality-faq .answer {
    max-width: 54rem;
  }
}
.page-debt-abolition .wp-block-site-functionality-faq .answer .answer-wrapper {
  position: relative;
  top: 3rem;
  opacity: 0;
  transition-property: opacity, top;
  transition-duration: 0.5s;
  transition-delay: 0.125s;
  transition-timing-function: ease-out;
}
.page-debt-abolition .wp-block-site-functionality-faq .answer a {
  color: #fff;
  text-decoration: underline;
}
.page-debt-abolition .wp-block-site-functionality-faq.active {
  background-color: #146656;
}
.page-debt-abolition .wp-block-site-functionality-faq.active .chevron {
  transform: translateX(-25%) rotate(90deg);
}
.page-debt-abolition .wp-block-site-functionality-faq.active .answer {
  transition-property: max-height, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  max-height: 300vh;
  height: 100%;
}
.page-debt-abolition .wp-block-site-functionality-faq.active .answer .answer-wrapper {
  opacity: 1;
  top: 0;
}
